<mat-toolbar color="primary">
  <span
    style="padding-left: 40px; background: transparent url('https://pbs.twimg.com/profile_images/786542947751825408/ILE7eVVN_400x400.jpg') 0 50% no-repeat; background-size: contain; ">
    AC Builder
  </span>
</mat-toolbar>
<div class="container">
  <div class="grid">
    <div class="col">
      <section class="feature">
        <app-feature [feature]="feature"></app-feature>
      </section>
    </div>
    <div class="col">
      <app-preview [feature]="feature"></app-preview>
    </div>
  </div>

</div>
<router-outlet></router-outlet>
