<mat-card class="feature" (mouseover)="showMenu()" (mouseout)="hideMenu()">
  <mat-card-title>Feature:
    <app-editable-text [control]="getControl('title')"></app-editable-text>
  </mat-card-title>
  <mat-card-content>
    <p>
      <app-editable-text [control]="getControl('description')"></app-editable-text>
    </p>
    <p>

    </p>
  </mat-card-content>
  <mat-card-actions #menu *ngIf="menuVisible">
    <button mat-button [disabled]="feature.hasBackground()" (click)="addBackground()">
      <mat-icon aria-hidden="false" aria-label="Example home icon">add_circle</mat-icon>
      Background
    </button>
    <button mat-button (click)="addScenario()">
      <mat-icon aria-hidden="false" aria-label="Example home icon">add_circle</mat-icon>
      Scenario
    </button>
  </mat-card-actions>
</mat-card>
