input.editable{
  cursor: pointer;
  text-decoration: underline ;
  text-decoration-style: dotted;
  text-decoration-color: #ddd;
  width: auto;
  grid-area: 1/2;
}

input.edited {
  text-decoration: none;
}

.input-sizer {
  display: inline-grid;
  align-items: center;
  position: relative;

  &.stacked {
    align-items: stretch;

    &::after,
    input,
    textarea {
      grid-area: 2 / 1;
    }
  }

  &::after,
  input,
  textarea {
    width: auto;
    min-width: 1em;
    grid-area: 1 / 2;
    font: inherit;
    padding: 0.25em;
    margin: 0;
    resize: none;
    background: none;
    appearance: none;
    border: none;
  }

  &::after {
    content: attr(data-value) ' ';
    visibility: hidden;
    white-space: pre-wrap;
  }
}
